#Question 1

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

...............

Answer 1 -

To determine whether a number is symmetrical or not, you can convert the number to a string, reverse the string, and check if the reversed string is equal to the original string. If they are equal, the number is symmetrical; otherwise, it's not.

Here's the Python implementation:

In [1]:
def is_symmetrical(number):
    number_str = str(number)
    return number_str == number_str[::-1]


print(is_symmetrical(121))
print(is_symmetrical(12321))
print(is_symmetrical(12345))
print(is_symmetrical(987654321))

True
True
False
False

In this function, we first convert the given number to a string using **str()** . Then, we use string slicing with [`::-1`] to reverse the string. Finally, we compare the reversed string with the original string using `==` . If they are `equal` , the number is `symmetrical` , and the function returns `True` ; otherwise, it returns `False` .

#Question 2

Given a string of numbers separated by a comma and space, return the product of the numbers.

...............

Answer 2 -

We can create a function to calculate the product of numbers in a given string by splitting the string into individual numbers, converting them to integers, and then multiplying them together.

Here's the Python implementation:

In [3]:
def multiply_nums(numbers_string):
    numbers_list = [int(num) for num in numbers_string.split(", ")]
    product = 1

    for num in numbers_list:
        product *= num

    return product


print(multiply_nums("2, 3"))
print(multiply_nums("21, 30"))
print(multiply_nums("425, 371"))
print(multiply_nums("6564, 6545, 6847"))

6
630
157675
294156568860

In this function, we first split the input string into individual numbers using `split(", ")` . Then, we create a list `numbers_list` by converting each number in the string to an integer using **int()** . Next, we initialize the variable product to 1. Finally, we use a loop to multiply each number in the `numbers_list` with the product. After the loop, the product will contain the result of multiplying all the numbers, and we return it. In the given example, "2, 3" represents two numbers 2 and 3, and their product is 6, so the output is 6.

#Question 3

Create a function that squares every digit of a number.
Examples
square_digits(9119) âžž 811181

..............

Answer 3 -

You can create a function to square every digit of a given number by converting the number to a string, squaring each digit, and then joining the squared digits back into an integer.

Here's the Python implementation:

In [7]:
def square_digits(number):
    squared_digits = [int(digit)**2 for digit in str(number)]
    result = int(''.join(map(str, squared_digits)))
    return result


print(square_digits(9119))
print(square_digits(2112))
print(square_digits(12))

811181
4114
14

In this function, we first convert the number to a string using **str()** . Then, we use a list comprehension to square each digit by converting it to an integer with **int()** and using the `**` exponentiation operator. The squared digits are stored in the `squared_digits` list. Next, we join the squared digits as strings using **join()** and convert the result back to an integer using **int()** .

#Question 4

Create a function that sorts a list and removes all duplicate items from it.

..............

Answer 4 -

You can create a function that sorts a list and removes duplicates by converting the list to a set and then converting the set back to a list.

Here's the Python implementation:

In [9]:
def setify(lst):
    return list(set(lst))


print(setify([1, 3, 3, 5, 5]))
print(setify([13, 73, 33, 33, 18]))
print(setify([8, 8, 7, 5, 5]))

[1, 3, 5]
[73, 18, 13, 33]
[8, 5, 7]

In this function, we use the **set()** function to convert the input list lst to a set. A set automatically removes duplicates. Then, we use **list()** to convert the set back to a list. The resulting list will be sorted and contain only unique elements.

#Question 5

Create a function that returns the mean of all digits.

..............

Answer 5 -

Below is the code for the same:

In [3]:
def mean(num):

    num_str = str(num)

    digit_sum = sum(int(digit) for digit in num_str)

    mean_value = digit_sum / len(num_str)


    return int(mean_value)


print(mean(420))
print(mean(12345))
print(mean(371))

2
3
3